
- var pageTitle = page.title || config.subtitle || ''
- var categoriesList = list_categories({ show_count: false })
- var tagsList = list_tags({ show_count: false, style: false, separator: ' ' })
- var archivesList = list_archives({ show_count: false })



doctype html
html(lang=config.language)
  head
    meta(charset='UTF-8')
    <meta name="viewport" content="width=device-width,initial-scale=1">
    title=page.title

    if theme.stylesheets !== undefined && theme.stylesheets.length > 0
      each url in theme.stylesheets
        link(rel='stylesheet', type='text/css' href=url)
    link(rel="icon", href='/kab/images/favicon.ico')
  body
    div.header
      a.github-link(href='https://github.com/7seee')
        img.github-image(src='/kab/images/Aquicon-Github-small.png')
      a.email-link(href='https://twitter.com/OG0eu7segtTPbw')
        img.email-image(src='/kab/images/twitter.png')
      a.subscribe-link(href="/kab/atom.xml")
        img.subscribe-image(src='/kab/images/subscribe-small.png')
    div.content
      h3.post-title-wrapper
        a(href="/kab").post-title=config.title
      <center>
      div
        a(href="/kab/tags/日記")="日記"
        | &nbsp; 
        a(href="/kab/tags/株ログ")="株ログ"
      div!= tagsList
      </center>
      block content
    div.footer
      <br>
      <br>
      <small><a href="https://twitter.com/OG0eu7segtTPbw" target="_blank">Twitter</a></small>
      <small><a href="https://www.geartics.com/OG0eu7segtTPbw" target="_blank">Geartics</a></small>
      <br>
      <br>
        div.footer-copyright
          | &copy; 
          a(href="/kab")="7se"
